html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	position: absolute;
	width: 1000px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -500px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}


middle {
	position: absolute;
	width: 1000px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -500px;
	text-align: left;
}


footer {
	position: absolute;
	width: 1000px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: 300px;
	margin-left: -500px;
	text-align: center;
	font-size: 10px;
	font-weight: 50;
}
